h1.form {
  margin-bottom: 50px;
}

.user-form {
  margin-top: 50px;
}

.panel-form {
  padding-bottom: 40px;
  margin-top: 10px;
  border-top: 2px solid #2196f3;
}

.btn-form {
  margin-top: 20px;
}

.flashbag-message {
  border-radius: 3px;

  h6 {
    color: #ffffff;
    text-align: center;
  }
  &.flashbag-success {
    background-color: #4caf50;
  }
}
